{% load static %}
<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SizePlus</title>
        
        <!-- My CSS and reset-->
        <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        
        <!-- Essential CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/popper.css" %}"> 

        <!-- Materalize CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper  teal darken-4 z-depth-3">
                    <a href="#" class="brand-logo center">SizePlus</a>

                    <ul class="left hide-on-med-and-down">
                      <li><a>Dashboard</a></li>
                      <li><a>Agenda</a></li>
                      <li><a>Consultas</a></li>
                      <li><a>Cadastros</a></li>
                    </ul>

                    <ul class="right hide-on-med-and-down">
                      <li><a><i class="material-icons">view_module</i></a></li>
                      <li><a><i class="material-icons">refresh</i></a></li>
                      <li><a><i class="material-icons">more_vert</i></a></li>
                    </ul>

                </div>
            </nav>
        </header>
        
            <a href="#" data-target="slide-out" class="sidenav-trigger">
              <i class="material-icons">view_module</i>
            </a>
            
            <ul id="slide-out" class="sidenav">
                <li><div class="user-view">
                  <div class="background">
                    <img src="">
                  </div>
                  <a href="#"><img class="circle" src=""></a>
                  <a href="#"><span class="white-text name">John Doe</span></a>
                  <a href="#"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
              </ul>      


        <div class="container-fluid">
              <main>
                    {% block main %}{% endblock %}
              </main>
        </div>
       
        <footer class="page-footer  teal darken-4">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
        </footer>
              
        
        <!-- Import scripts -->
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <script src="{% static "js/jquery.mask.js" %}"></script>
        <script src="{% static "js/Chart.bundle.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/prefix-free.js" %}"></script>
        <script src="{% static "js/materialize.min.js" %}"></script>
        
        <!-- My editions scripts -->
        <script src="{% static "js/mydatepicker.js" %}"></script>
        <script src="{% static "js/mychart.js" %}"></script>
        <script src="{% static "js/viacep.js" %}"></script>

        <!-- Materialize CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script>
            $(document).ready(function(){
                // Initialize materialize data picker
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    i18n: {
                        months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Outubro', 'Setembro', 'Novembro', 'Dezembro'],
                        monthsShort:['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        weekdays: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                        weekdaysShort: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
                        weekdaysAbbrev:['S','T','Q','Q','S','S','D'],
                        cancel: 'Cancelar'
                    }
                
                });
                $('select').formSelect();
            });
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.sidenav');
              var instances = M.Sidenav.init(elems);
          });
        </script>
    </body>
</html>